@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

html {
    scroll-padding-top:  20%; 
  }

.header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    background-color: lightblue;
    padding: 0%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

nav {

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 0 3% 0 3%;
}
nav > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 2% 0 2% 2%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(91, 125, 163);
    height: 100%;
    padding: 0 20px 0 20px;
}

li > a:active {
    color: white;
    background-color: rgb(91, 125, 163);
  }
  
.background_Info{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    grid-gap: 0;
    padding: 6% 5% 6% 5%;
}

.background_Info p{
    color: rgb(28, 46, 63);
    font-size: 20px;

    animation-duration: 1s;
  animation-name: slide-in;
}

@keyframes slide-in {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }
  
 .title{
    color:aliceblue;
    font-size: 75px;
 } 

h2{
    text-align: center;
    font-size: 45px;

    animation-duration: 1s;
    animation-name: slide-in;
}
.check-games{
    text-align: center;
}

.stats-container {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.stats-container:hover{
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}